h2 {
    margin-top: -34px;
    padding: 103px 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #a8b6d2;
    text-align: center;
    font-size: xx-large;
}
p {
    font-family: cursive;
}
h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 54px;
    margin-left: 54px;
    font-size: x-large;
    color: chocolate;
}
.skilllitem {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.skills1 {
    background-color: black;
    width: 700px;
    height: 11px;
    border: 2px solid red;
}
.skills2 {
    background-color: #2196f3;
    width: 577px;
    height: 11px;
    border: 2px solid black;
}
.skills3 {
    background-color: #f30000;
    width: 400px;
    height: 11px;
    border: 2px solid black;
}
.skills4 {
    background-color: rgb(240, 214, 214);
    width: 120px;
    height: 11px;
    border: 2px solid black;
}
 
@media (max-width: 750px){
   .skills1{
    width: 300px;
   }
   .skills2{
    width: 250px;
   }
   .skills3{
    width: 180px;
   }
   .skills4{
    width: 100px;
   }
}